{
    "presets": [
      ["@babel/env", {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "3.7.0"
      }]
    ],
    "plugins": [
      ["import", {
        "libraryName": "view-design",
        "libraryDirectory": "src/components"
      }],
      "@babel/plugin-proposal-optional-chaining"
    ]
}